* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: titule;
    src: url(../assets/Fonts/winterbeauty-Script.otf);
}

body {
    background-color: rgb(140, 117, 117);
    height: 100vh;
}

header { 
    margin: 15px 0 15px 0  
}

.borderra {
    border-radius: 10px;
    background-color: rgba(92, 72, 34, 0.437);
    height: 10vh;
}

main section{
    height: 80vh;
}

.itm {
    justify-items: center;
}

#titulo {
    font-family: titule;
    margin-top: 20px;
    text-align: center;
    font-size: 3em;
    color: antiquewhite;

}

#carrou {
    height: fit-content;
    background-color: rgba(88, 52, 52, 0.274);
}

#footy {
    height: 10vh;
}

/* PAGINA HISTORIA  */

#mainHistoria{
    flex-direction: column;
    

}

#mainHistoria p{
    text-align: justify;
    margin: 0 20px 0 20px;
    

}

#imgHistoria {
        width: 100vw;
        height: 80px;

}
#tituloHistoria{
    margin: 10px;
    padding: 10px;
    font-family: titule;
    font-size: 4em;
    text-align: center;
}